You need the following pip modules installed in your system for the program to work:
    Python Language Tool
    CSV Module
    
    
You can install them by writing the following commands in your Windows Powershell window.
    pip install language_tool_python
    pip install csv
